.drop{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    min-height: 200px;
    max-height: 500px;
    position: absolute;
    left: 70vw;
    top: 80px;
    text-align: left;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
}

#cartsh{
    margin-top: -50px;
}

.drop:hover{
    background-color: white;
}

.btni{
    background-color: transparent;
    border: transparent;
}

.btni:hover{
    cursor: pointer;
    color: #3DA1FC;
    border: transparent;
}

img{
    height: 100px;
    width: 100px;
}

.btnc{
    padding: 10px;
    border: transparent;
    background-color: rgb(61, 161, 252,0.6);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btnc:hover{
    cursor: pointer;
    background-color: #3DA1FC;
    border: transparent;
}