header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body{
  position: relative;
  top: 40px;
  overflow-x: hidden;
}

.row{
  position: relative;
  top: 0px;
  display: flex;
  text-align: left;
  align-items: center;
  min-width: 1140px;  
  padding: 1px;
}

.sbutton{
  background-color: transparent;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-width: 1px;
  border: transparent solid;

}

.sbutton:hover{
  cursor: pointer;
  border-width: 1px;
  border: white solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}